<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166508789814-drhs47mnn7oidm8i1d0t3ms11q8ivbju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166508789814-drhs47mnn7oidm8i1d0t3ms11q8ivbju</string>
	<key>API_KEY</key>
	<string>AIzaSyA_dyps1URJZf-V8TtB7FmCOo2u4AlBAEs</string>
	<key>GCM_SENDER_ID</key>
	<string>166508789814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.krishiTest</string>
	<key>PROJECT_ID</key>
	<string>krishi-gyan-db-test</string>
	<key>STORAGE_BUCKET</key>
	<string>krishi-gyan-db-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166508789814:ios:ec8f4166c5ff5adf021897</string>
</dict>
</plist>